#include <OS2.H>

RESOURCE    2048    10     "TABLE\ALLOC_0.TXT"
RESOURCE    2048    11     "TABLE\ALLOC_1.TXT"
RESOURCE    2048    12     "TABLE\ALLOC_2.TXT"
RESOURCE    2048    13     "TABLE\ALLOC_3.TXT"

RESOURCE    2048    20     "TABLE\DEWINDOW.TXT"
RESOURCE    2048    30     "TABLE\HUFFDEC.TXT"

RESOURCE    2048    40     "TABLE\ABSTHR_0.TXT"
RESOURCE    2048    41     "TABLE\ABSTHR_1.TXT"
RESOURCE    2048    42     "TABLE\ABSTHR_2.TXT"
RESOURCE    2048    50     "TABLE\ENWINDOW.TXT"
RESOURCE    2048    60     "TABLE\1TH0.TXT"
RESOURCE    2048    61     "TABLE\1TH1.TXT"
RESOURCE    2048    62     "TABLE\1TH2.TXT"
RESOURCE    2048    66     "TABLE\2TH0.TXT"
RESOURCE    2048    67     "TABLE\2TH1.TXT"
RESOURCE    2048    68     "TABLE\2TH2.TXT"
RESOURCE    2048    70     "TABLE\1CB0.TXT"
RESOURCE    2048    71     "TABLE\1CB1.TXT"
RESOURCE    2048    72     "TABLE\1CB2.TXT"
RESOURCE    2048    76     "TABLE\2CB0.TXT"
RESOURCE    2048    77     "TABLE\2CB1.TXT"
RESOURCE    2048    78     "TABLE\2CB2.TXT"

